@font-face {
  font-family: 'Corethan';
  src: url('fonts/Corethan.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corethan Extra Bold';
  src: url('fonts/Corethan Extra Bold.otf') format('opentype');
  font-weight:bolder;
  font-style: bolder;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18pt;
  background-color: #f0f0f0;
  margin: 0px;
  padding: 40px 0;
}

@keyframes ink-splat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prompt-container {
  padding: 60px 60px 20px 60px;
  background-color: white;
}

#editor-container {
  max-width: 8.5in;
  min-height: 11in;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#editor {
  min-height: 10in;
  padding: 0 60px 60px 60px;
  box-sizing: border-box;
  /* font-family: 'Corethan Extra Bold', sans-serif; */
  font-family: "Times New Roman", Times, serif;
  outline: none;
  background-color: transparent;
  color: black;
}

.overlay {
  position: absolute;
  pointer-events: none;
  /* font-family: 'Corethan Extra Bold', sans-serif; */
  font-family: "Times New Roman", Times, serif;
  font-size: 18pt;
  z-index: 100;
  top: 0;
  left: 0;
  /* caret-color: red; */ /* doesn't do anything */
}

/* not necessary for things to work - don't allow pasting rich text */
[contenteditable] {
  -webkit-user-modify: read-write-plaintext-only;
}